<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta name="description" content="{{ meta.description }}">
    <title>{{ meta.title }}</title>
    <script src="/js/index.js" type="module" defer></script>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>

  </body>
</html>
